/.lintr
/.Rhistory
/aggregate_stats.R
/annotateNIEBs.R
/check_cov.R
/check_niebs_sizes_distribution.R
/compareGapsToNIEBsChange.r
/countNPerSeq.py
/filter_per_size.R
/gapcovnieb.png
/gaps_coverage.R
/gaps_niebs_coverage.R
/genomecov.png
/getGapsPos.py
/get_cov_niebs_overlap_microsat.R
/get_cov_niebs_per_type.R
/get_gaps_rel_to_abundance.sh
/get_gc_by_bed_id.py
/get_size_chain_gap_nogap.py
/get_size_of_overlaps.R
/get_stat_coverage.R
/mergeCoverage.R
/mergeCoverageMicrosat.R
/microsatcov.png
/plotGapInFunctionOfCount.R
/plot_all_coveragenieb.R
/plot_all_covV2.R
/plot_all_genomecov.R
/plot_all_microsatellites.R
/plot_all_total_coverage.R
/plot_all_total_microsat.R
/plot_chains_stats.R
/plot_coverage_genome_by_gaps.R
/plot_coverage_microsat_V2.R
/plot_distribution_sizes.R
/plot_gaps_coverage_freal.R
/plot_GC_microsat.R
/plot_microsatellites_coverage.R
/plot_TEs_coverage.R
/script.sh
/sort_microsat.py
/stats_association.R
/stat_niebs_per_category.R
/sum_sizes.py